@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style:normal;
    font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format("woff2");
font-display: swap;
}
html{
    height: 100%;
}
body {
    min-width: 1280px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;  
}

.main-headr {
    color: #000000;
    background-color:#E5E5E5 ;
}
.logo{
    width: 139px;
    margin-right: 47px;
    height: 70px;
    position: relative;
}
.main-header >.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}
.navigation {
   
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
} 

.navigation-logo{
    display: block;
    height: 70px;   
}
.navigation-list{
    
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation-list .link:hover {
    color:#756257;  
}
.navigation-list .link:focus{
    color:#000000;
    
}
.navigation-list .link:active{
    color:rgba(117, 98, 87, 0.3);
   
    
}
.active{
    position: relative;
}
.active::before{
    position: absolute;

    content: "";

    border: 2px solid #756257;
    height: 0;
    width: 100%;
    top: 46px;
}



.navigation-item{
    padding-right: 34px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
   
  



.navigation-user{
    margin: 0;
    padding:0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width:270px;
    margin-left: auto;
    font-size: 16px; 
    line-height: 20px; 
    color: #FFFFFF; 
    text-transform: uppercase;
    list-style-type: none;
}
.navigation-user .navigation .link{
    min-height: 20px;
    min-width: 24px;

}
.navigation-user .navigation-item:first-child{
    padding-right: 23px;
}
.navigation-user .navigation-item{
    padding:0;
    padding-top:13px;
    padding-bottom:14px;
}
.favourite{
    position: relative;
   

    
}
.favourite::before{
    position: absolute;
    
width: 20px;
height: 20px;
left: 13px;
top: 9px;
background: #7DB54F;
border-radius: 10px;
content: "";

}
.favourite::after{
    position: absolute;
    
    width: 19px;
    height: 13px;
    left: 13px;
    top: 9px;
    content: "12";
}
.favourite::after{
    Font-family: PT Sans;

    font-size: 10px;
   
    font-style: normal;
    text-align: center;
    align-items: center;

}

svg.navigation-icon:hover path{
  fill:  #756257;
}
svg.navigation-icon:active path{
    fill:  #756257;
    opacity: 30%;
}


.navigation-user .navigation-item:last-child .navigation {
    width: 160px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;

    margin-left: 32px;
    
    padding-top: 9px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 8px;
    font-size:16px; 
    line-height: 20px; 
    color: #FFFFFF;
     text-transform: uppercase; 
     background: #756257;
}
.navigation-user .navigation-item:last-child .navigation:hover{
    background-color: #615048;
}
.navigation-user .navigation-item:last-child .navigation:focus {
    background-color: #615048;
    border: 3px solid #83B3D3;
    outline: none;
     
    
}
.navigation-user .navigation-item:last-child .navigation:active{
   background-color: #615048;
   color: rgba(255, 255, 255, 0.3);

}
.navigation .link:hover .search.favorite{
  fill:  #756257 ;
}
.main-container{
    flex-grow: 1;
  
}

.main-index {
  
    color: #000000;
    background-color:#FFFFFF;
    
    background-size: 100% auto;
   
}
.welcome{
    
    
   
    background-image: url("../images/index-background-2.jpg");
    background-repeat: no-repeat;
    margin-bottom: 63px;
}
.page-container{
    margin: 0 auto;
    margin-top: -5px;
    max-width: 1200px;
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  


.image{
    display: block;
    margin: 0 auto; 
    padding-top: 51px;
    padding-bottom: 26px;
}
.advantage {
    font-family:"PT Sans";
    font-weight :700;
    font-style :normal;
    font-size: 30px;
    line-height: 36px;
    text-align:Center;
    background-color:#FFFFFF;
}
.welcome::after{
    background-image: url(../images/decoration.svg);
    content: "";
    display: block;
    width: 100%;
    height: 57px;
    left: 0;
  bottom: -1px;
  z-index: 1;

  
}



.inskription {
    width: 720px; 
    margin: auto;
    font-family: "PT Sans";
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
   
}
.reasons {
    margin-bottom: 0;
    margin-top:31px;
    padding-bottom: 80px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #333333;
    
}

.advantage-list {
    margin: 0;
    padding: 0;
   
   justify-content: space-between;
   font-family:"PT Sans";
   font-style: normal;
   font-weight: 700;
   font-size:24px;
   line-height: 28px;
   text-align:Center;
   list-style-type: none;
}


.list1{
   
    display:flex;
    padding:0;
    
}
.list1 .advantage-title {
    padding-top: 23px; 
    padding-bottom: 20px;
}
.list2{
    
    display:flex;
    padding:0;
   

}
.advantage-item{
    display: flex;
   
}
.list1 .advantage-item:first-child p{
    width: 179px;
    margin: auto;
}
.advantage-item:nth-child(n+2):nth-child(-n+4) .advantage-diskription{
    color:  #333333;
 }
 .list2 .advantage-diskription:last-child{
    padding-bottom: 108px;
 }
.advantage-title {
    margin-top: 0;
    margin-bottom: 0;
    width: 172px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 97px;
    padding-bottom: 30px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px; 
    line-height: 28px; 
    text-transform: uppercase;
    text-align: center;
}
.diskription-1 {
    width: 400px;
    height: 384px;
    color:#FFFFFF;
    background-color: #83B3D3;
}
.list2 .advantage-diskription{
    margin: 0;
     padding-bottom: 30px;
}


.hotel{
   
    width: 800px;
    
}
.image-housing{
    padding-top: 89px;
    padding-right: 162px;
    padding-left: 162px;
}
.image-food{
    padding-top: 91px;
    padding-right: 163px;
    padding-left: 163px;
}
.diskription-2 {
    width: 400px;
    font-family: "PT Sans";
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    background-color: rgba(131, 179, 211, 0.12);
   
}
.diskription-3{
    width: 400px;
    font-family: "PT Sans";
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #333333;
    background-color: #FFFFFF;
}
.diskription-4{
    font-family: "PT Sans";
    font-style: normal;
    font-size: 18px;
    line-height: 21;
    text-align: center;
    width: 400px;
    color: #333333;
    background-color:rgba(131, 179, 211, 0.2);

}
.image-bridge{
    width: 800px;
}
.advantages-diskription1{
    margin:0;
    font-family: "PT Sans";
    font-weight: 400;
    font-style :normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
   color:#FFFFFF;
   width:250px;
   padding-left:75px;
   padding-right:75px;
   padding-bottom: 30px;

}



.advantages-diskription{
    margin:0;
    width:220px;
    padding-left: 90px;
    padding-right:90px;
    padding-bottom: 87px;
    font-family: "PT Sans";
    font-weight: 400;
    font-style :normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
   color:#FFFFFF;
}
.advantage-diskription{
   margin:0;
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 79px;
    font-family: "PT Sans";
    font-style:normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
}
.image-souvenirs{
    padding-top:85px;
    padding-right: 168px;
    padding-left: 168px;
}



.search-hotel {
    margin:0 auto;
    color: #000000;
    background-color:#FFFFFF;
    text-align: center; 
}
.question {
    margin:0;
   padding-top: 91px;
   padding-right: 240px;
   padding-bottom: 29px;
   padding-left:240px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style :normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;

}

.date{
    margin: 0;
    padding-bottom: 56px;
    font-family: "PT Sans";
    font-weight: 400;
    font-style :normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.search-hotel-button {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 93px;
    border-radius: 10px;
    display: block;
    width: 575px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style :normal;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color:#FFFFFF;
    background-color:#756257;
    text-transform: uppercase;
    text-decoration: none;   
}
.search-hotel-button:hover{
    background-color: #615048;
}
.search-hotel-button:focus{
   background-color: #615048;
   outline:3px solid #83B3D3;
}
.search-hotel-button:active{
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3)

}
.mailing {
    
    width: 1200px;
    margin: 0 auto;
    text-align: center; 
    background-image: url(../images/background.jpg);
    
}
.social-item:first-child{
    padding-left: 0; 
}

.appointment-form input{
    margin:0;
    padding: 0;
    border: 0;
    padding-left: 22px;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    width: 600px;
    height: 60px;
    font-family: "PT Sans"; 
    font-size: 18px;
    line-height: 26px;
    color: #000000; 
    background: #F2F2F2;
}
.appointment-form input:hover{
    background-color: #E6E6E6;
}
.appointment-form input:focus{
   background-color: #E6E6E6;
    outline: none;
    border: 3px solid #83B3D3;
    border-radius: 10px 0px 0px 10px;
}
.appointment-form input:invalid{
    outline: none;
    border: 2px solid #FF5757;
    background: #FFFFFF;
    border-radius: 10px 0px 0px 10px;
}
  



.appointment-form{
    padding-bottom: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter input{
   font-family:  "PT Sans"; 
   font-size: 18px;
   line-height: 23px; 
   background: transparent;
}
.appointment-form input::placeholder{
    
    opacity: 0.6;
    color:#000000;
}
.filter input::placeholder{

    color:#FFFFFF
}
.button-1 {
    margin:0;
    padding:0;
    border:0;
    border-radius: 0px 10px 10px 0px;
    min-width: 200px;
    min-height: 60px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style :normal;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color:#83B3D3;
    text-transform: uppercase;
}
.button-1:hover{
    background-color: #68A2CA;
}
.button-1:focus{
    background-color: #68A2CA; 
    outline: 3px solid #756257;
}
.button-1:active{
    background-color: #68A2CA; 
    color: rgba(255, 255, 255, 0.3);
}



.title {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 29px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style :normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;

}
.no-spam{
    margin:0;
    margin-left: auto;
    margin-right: auto;
    width: 544px;
    
    padding-bottom: 46px;
    font-family: "PT Sans";
    font-weight: 400;
    font-style :normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;

}
.social-media{

    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-content: center;

}

.social-media-list {
   
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 49px;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    padding-left: 72px;
    height: 18px;
    list-style-type: none;
    background-color:#FFFFFF

}
.button-social{
    position: relative;

}
.button-social:focus-visible::before{
    top: -9px;
    left: -11px;
}
.button-social:focus-visible path{
    fill: rgba(104, 162, 202, 1);


}
.button-social:focus{
    outline: none;

}
.button-social:focus::before {
    display: block;
    top: -9px;
    left: -11px;
}
.button-social:focus path {
    fill: rgba(104, 162, 202, 1);
}


.social-item{
    padding-left: 30px;
    
}
svg.image-vector1{
    fill: #83B3D3;
    position: relative;

}

.button-social::before{
    position: absolute;
    border: 3px solid #83B3D3;
    width: 40px;
    height: 40px;
    content:"";
    border-radius: 10px;
    display: none;

}
.button-social:focus-visible{
    outline:none;
}
.button-social:focus-visible::before {
    display: block;
}
svg.image-vector1:focus-visible::before {
    display: block;
}
svg.image-vector1:hover path{
   fill: #68A2CA;
}
svg.image-vector1:focus-visible path{
   fill:  #68A2CA ;
    
}
.image-vector1:active{
    opacity: 0.3;
}
svg.htmlacademy-link{
    padding:0;
    margin: 0;
    margin-top: 42px;
    margin-right: 72px;
    margin-bottom: 44px;
    margin-left: 53px;

}
 

.htmlacademy-link{
    position: relative;
}
.htmlacademy-link:focus-visible::before{
    left: 15px;
    top: 15px;
}
.htmlacademy-link:focus-visible path{
    fill: #756257;
}
.htmlacademy-link:focus{
    outline: none;
}
.htmlacademy-link:focus::before{
    display: block;
    left: 15px;
    top: 15px;

}
.htmlacademy-link:focus path{
    fill:#756257
}
.htmlacademy-link::before{
    position:absolute;
    border: 3px solid #83B3D3;
    width:160px;
    height:70px;
    content:"";
    border-radius: 10px;
    display: none;

}
.htmlacademy-link:focus-visible{
    outline: none;
}
.htmlacademy-link:focus-visible::before{
    display: block;
}
svg.htmlacademy-link{
    fill:#756257;
    position:relative;
}
svg.htmlacademy-link:focus-visible::before{
    display: block;
}
svg.htmlacademy-link:hover path{
    fill:#756257;
}
svg.htmlacademy-link:focus-visible path{
    fill:#756257;
}
.htmlacademy-link:active{
    color: #756257;
    opacity: 30%;
}

.tel{
    margin: 0;
    margin-top:40px;
    margin-bottom: 40px;
    margin-left: 60px;
    width: 720px;
    height: 40px;
    font-family: "PT Sans";
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    position: relative;
   
}
.tel:focus-visible{
    outline: none;
}
.tel:hover{
   color: #756257;
}
.tel:before{
    width: 361px;
    content: "";
    height: 70px;
    position: absolute;
    outline: 3px solid #83B3D3;
    top: -10px;
    left: 182px;
    display:none;
    border-radius: 10px;

}
.tel:focus-visible::before {
    display: block;
}    

.tel:active{
    color: #756257; 
    opacity: 30%; 
}



.main-inner{ 
    font-family:"PT Sans";
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: white;
    background-color:#FFFFFF;
   
    
}
.inner-title {
    padding-top: 35px;
    padding-right: 601px;
    padding-bottom: 5px;
    padding-left: 71px;
    
    margin:0;
    

    width:528px;
    height: 68px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style:normal;
    font-size: 60px;
    line-height: 78px;
    text-align: left;
}
.breadcrumbs{
    margin:0;
    padding-top:5px;
    padding-bottom:45px;
    padding-left:73px;
    display: flex;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    list-style-type: none;
    padding-left: 73px;
    

}
.breadcrumbs-link{
    
    display:block;
}
.breadcrumbs-item-home{
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom:6px;
}
.image-arrow{
    padding-top:6px;
    padding-right:10px;
    padding-bottom:7px;
    opacity: 0.3;
}

.breadcrumbs:hover{
    opacity: 60%;
}

.breadcrumbs-link:focus{
    
box-sizing: border-box;
border-radius: 4px;
width: 28px;
height: 27px;
outline: none;
}


.breadcrumbs-link{
    position: relative;
}


.breadcrumbs-link:focus::before{
    display: block;
    top: -4px;
    box-sizing: border-box;
    left: -8px;
    padding: 3px;

  
}   
    

.breadcrumbs-link::before{
    position: absolute;
    border:3px solid #83B3D3;
    width: 28px;
    height: 27px;
    content: "";
    border-radius: 4px;
    display: none;
}
.breadcrumbs-link:focus::after{
    display:block;
    padding: 3px;
    left: 45px;
    top: -8px;
}
.breadcrumbs-link::after{
    position:absolute;
    border:3px solid #83B3D3;
    width: 73px;
    height: 21px;
    content: "";
    border-radius: 4px;
    display: none;
}




.breadcrumbs-link:focus-visible{
    outline: none;
}

svg.breadcrumbs-item-home{
    position: relative;
}
svg.breadcrumbs-item-home:focus-visible::before{
    display: block;
}




.breadcrumbs:active{
opacity: 30%;
}


.catalog{
    background-image: url("../images/catalog-background-1.jpg");
    background-repeat: no-repeat;
    
}
.catalog-filter{
    display: flex;
}





.infrastructure{
    margin:0;
    padding:0;
    padding-bottom:30px;
}
.type-of-housing{
    margin:0;
    padding:0;
    padding-bottom:28px;

}
.catalog-group1 {
    margin:0;
    padding:0;
    padding-left:71px;
    border:none;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
}
.filter input{
    margin:0;
}
.sorting-block .select-control, .sorting-block .sorting{
    margin-top: -6px;
}


.catalog-group2 {
    margin:0;
    padding:0;
    padding-left:67px;
    border:none;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
}
.catalog-item{
    padding-bottom:13px;
}
.catalog-list:last-child{
    padding-bottom:26px;
}
.catalog-list{
    margin: 0;
    padding:0;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    text-align: left;
    list-style-type: none;
}
.control-group{
    position: relative;
    display: block;
    padding-left: 29px;

}
.control-type:hover{
    background-color: rgba(255, 255, 255, 0.6);
}
.control-type:focus{
    outline: 3px solid #83B3D3;
    border-radius: 4px;
   
}
.control-type:active{
    background-color:rgba(255, 255, 255, 0.3);
}
.control-input[type="checkbox"]:checked+.control-type{
    background-image: url(../images/check.svg);
   
}
.control-type{
    position: absolute; 
    top:2px;
    left:0;
    width:20px;
    height: 20px;
    border-radius: 4px;
    background-color: #FFFFFF;
    
    background-repeat: no-repeat;
    background-position: center;

}
.control-input[type="radio"]:checked + .control-type{
    border-radius: 50%;
    background-image: url(../images/Ellipse-check.svg);
} 
.control-input[type="radio"]+.control-type{
    border-radius:50%
}

label.price-filter-label:first-child:before {
    content: "от";
    position: absolute;
    top: 11px;
    padding-left: 112px;
}
label.price-filter-label:last-child::before {
    content: "до";
    position: absolute;
    top: 11px;
    padding-left: 107px;
}
.filter-interval{
    width: 277px;
    display: grid;
}
.price-setting{
    
    margin:0;
    padding: 0;
    border:none;
  
}
.filter-interval-price {
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
    
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
    text-align: left;
}

.price-setting{
    border: none;
  width: 287px;
  
  gap: 20px;
  margin: 0;
  margin-left: 167px;
  padding: 0;

}
.price-filter-label{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    padding-right: 16px;
    border: 2px solid #ffffff;
    height: 48px;
    position: relative;
  
  

}
.price-filter-label:focus{
    box-shadow: 0 0 0 3px #81b3d2, inset 0 0 0 3px #81b3d2;
}
.price-filter-label:active{
    background-color: #756257;

}



.price-filter-label:first-child{
    border-radius: 4px 0 0 4px;
  border-right-width: 0;
  margin-right: 2px;

}
.price-filter-label:first-child:hover{
    border-right-width: 2px solid rgba(255, 255, 255, 0.3);
    margin-right: 0;
  
}
.price-filter-label:last-child {
        position: relative;
        z-index: 1;
        margin-left: -2px;
        border-radius: 0 4px 4px 0;
      
}
.price-filter-label:hover {
    border:2px solid rgba(255, 255, 255, 0.6);
}
.filter-border{
    display: grid;
  grid-template-columns: 144px 144px;
  margin: 0;
  font-size: 18px;
  line-height: 1.28;
  color: rgba(255, 255, 255, 0.3);
  position: relative;


}
.input-price{
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    all: unset;
    order: -1;
    padding-left: 19px;
    width: 65px;
    outline: none;
    color: #ffffff;
    background: transparent;
    height: 48px;
    margin-bottom: 32px;
  
}


  
  


.range{
    margin:0;
    padding:0;
}
.range-scale{
    position: relative;
    height: 4px;
    
    margin-top: 32px;
    border-radius: 4px;
    background-color:  rgba(255, 255, 255, 0.3)
}
.range-bar{
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
    margin-bottom: 94px;
    right: 60px;
    width: 227px;
}
    

.range-toggle{
    position:absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    border: none; 
    top: -8px;
}
.toggle-min {
    padding:0;
    margin:0;
    top:-6px;
    
    border:none;
    top: -8px;
  }
  
  .toggle-max {
   padding:0;
   margin:0;
   left:220px;
   top:-8px;
   
  }
  

.button-blue{
    padding: 0;
    margin: 0;
    margin-top: 60px;
    margin-right: 72px;
    margin-bottom: 20px;
    margin-left: 81px;
    min-width: 160px;
    min-height: 48px;
    border: 0;
    border-radius: 4px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color: white;
    background-color: #83B3D3;
    text-transform: uppercase;
}
.button-blue:hover{
    background-color: #68A2CA;
}
.button-blue:focus{
    background-color: #68A2CA; 
    outline: 3px solid #FFFFFF;
    border-radius: 4px;
  

}

.button-blue:active{
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
}
.button-usual {
    padding: 0;
    margin-right: 72px;
    
    margin-left: 81px;
    border:none;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    text-align: center;
    color: white;
    background: transparent;
    
}
.button-usual:hover{
    opacity: 60%;
}
.button-usual:focus{
    outline: 3px solid #83B3D3;
}
.button-usual:active{
    opacity: 30%;
}
.title-catalog{
    margin:0;
    padding:0;
    padding-top: 50px;
    padding-right: 192px;
    padding-bottom: 56px;
    padding-left: 0;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px; 
    text-align: left;
    color:#000000;
    text-transform: uppercase;


}
.button1{
    display: flex;
    flex-direction: column;
}
.button{
    padding:0;
    display: flex;
}

.button-vector
{
    display:flex;
    flex-wrap: wrap;
    margin-right: 8px;
    border: 2px solid #E6E6E6;
    padding:16px 17px;
    border-radius: 4px;
    outline: none;
    
   
}
.active-sorting{
    border: 2px solid #000;
}

.button-vector:hover{
    border: 2px solid #83B3D3;
    border-radius: 4px;
}
.button-vector:focus{
    border: 2px solid #83B3D3;
    border-radius: 4px;
}
.button-vector:active{
    border: 2px solid #000000;
    border-radius: 4px;
}
.button-vector .image-vector{
    margin: 0;
}
.filter-border input{
    height: 48px;
    background: transparent;
  
    box-sizing: border-box;
    padding-left: 19px;
    border-radius: 0 4px 4px 0;
    width: 143px; 
    font-size: 18px;
}
.filter-border input::placeholder{
    color: #FFFFFF;
}
.button-vector .image-vector{
    margin: 0;
}
.filter-border input:first-child{
    border-right: 0;
    border-radius: 4px 0 0 4px;
}

.sorting-block{
    margin: 0 auto ;
    padding:0;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1057px;
    
}
.select{
    position:relative;
    display: flex;
    align-items: center;
    width: 287px;
    height: 48px;
    margin-right: auto;
}

.select-control{
    width: 100%;
    padding-left: 19px;
    padding-top:12px;
    padding-bottom: 13px;
    
    font-weight: 400;
    background-color: #FFFFFF;
    border:2px solid #E6E6E6;
    background-image: url(../images/dropdown\ 1.svg);
    background-repeat: no-repeat;
    background-position: right 21px center;
    appearance: none;
    box-shadow: none;
    width: 287px;
    height: 48px;
    border-radius: 4px; font-size: 18px;

}
.select-control:hover{ 
    border-radius: 4px;
    outline: none;
    border: 2px solid #83B3D3;
    color: rgba(51, 51, 51, 1)
}
.select-control:focus{
    border-radius: 4px;
    outline: none;
    border: 2px solid #83B3D3;
    color: rgba(51, 51, 51, 1)
}

.select-control:not() {
    
border:2px solid #E6E6E6; 
color: rgba(51, 51, 51, 0.3);
border-radius: 4px;
outline: none;
}
.select-control:active{
    outline: 2px solid #E6E6E6;
    opacity: 30%;
}

.select-control-2{
margin: 0;
padding-left: 17px;
margin-top: 33px;
width: 160px;
height: 48px;
font-family: "PT Sans";
font-size: 18px;
line-height: 23px;
appearance: none; 
background-image: url(../images/dropdown\ 1.svg);
background-repeat: no-repeat;
color: #333333;
border: 2px solid #E6E6E6;
box-sizing: border-box;
border-radius: 4px;
background-position: right 21px center;
}
.product-list{
    margin: 0 ;
    padding: 0;
    margin-bottom: 34px;
    padding-left: 72px;
    display: grid;
    width: 1056px;
    grid-template-columns: repeat(3,1fr);
    gap: 10px 18px;
}
.product-card{
    display: grid;
    grid-template-columns: 140px 160px;
     padding:20px
    
}
.product-card-link{
    grid-column: 1/-1;
    height: 206px;
    text-decoration: none;
}
.product-card-link:focus{
    outline : 3px solid #83B3D3
}

.product-card-image{
    
   
    box-sizing: border-box;
}
.product-card-link:hover{
    opacity: 60%;
}
.product-card-link:focus{
    outline: 3px solid #83B3D3;
}
.product-card-link:active{
    opacity: 30%;
}

.product-card:nth-child(3) {
    margin-right: 0;
}


.product-card-price,
uct-card-button-button-blue{
    grid-column: 2/4;
}

    


.product-card-title{
    margin:0;
    padding-top:16px;
    padding-bottom: 16px;
    grid-column: 1/-1;
    text-decoration: none;
    
    grid-row:2;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px; 
    text-align: left;
    color:#000000;
    text-decoration: none; 

}
.product-card > div:first-of-type{
   
    grid-row: 5;
   
}
.object{
    margin:0;
    grid-row: 3;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    text-align: left;
    color:#333333
   

}
.product-card-price{
    grid-row: 3;
    margin-left: auto;
    width: 143px;
    height: 23px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    text-align: left;
    color:#333333;

}
.product-card-button-button{
    margin-top:16px;
    grid-row:4 ;
    width: 133px;
    padding-top: 9px;
    padding-bottom: 10px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color:white;
    background-color:#756257;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    position:relative
}
.product-card-button-button:hover{
    background-color: #615048;

}
.product-card-button-button::before{
    position:absolute;
    border:3px solid #83B3D3;
    width:133px;
    height:37px;
    content:"";
    border-radius:4px;
    display:none;
}
.product-card-button-button:focus::before{
    display:block;
    top: -2px;
    left: -3px;
}
.product-card-button-button:focus{
    background-color: #615048;
    
    border-radius: 4px;
    
}


.product-card-button-button:active{
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
}
.product-card-button-button-blue{
    grid-row:4;
    padding-top: 9px;
    padding-bottom: 10px;
    margin-top:16px;
    text-decoration: none;
    width: 140px;
    margin-left: auto;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color:white;
    background-color:#83B3D3;
    text-transform: uppercase;
    border-radius: 4px;
    position:relative
}
.product-card-button-button-blue:hover{
   background-color: #68A2CA;
   outline: 1px solid #756257;
   
   border-radius: 4px;
}
.product-card-button-button-blue::before{
    position:absolute;
    border:3px solid #756257
    width:133px;
    height:37px;
    content:"";
    border-radius:4px;
    display:none;
}
.product-card-button-button-blue:focus::before{
    display:block;
    top: -2px;
    left: -3px;
}
.product-card-button-button-blue:focus{
    background-color: #68A2CA;
    outline: 3px solid  #756257;;
    border-radius: 4px;
   
}
.product-card-button-button-blue:active{
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
    outline: 1px solid #756257;
  
    border-radius: 4px;
}
.product-card-button-button-green{
    grid-column: 2/4;
    margin-top:16px;
    margin-right:20px;
    padding-top:9px ;
    width: 140px;
    margin-left: 20px;
    border-radius: 4px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color:white;
    background-color: #7DB54F;
    text-transform: uppercase;
    text-decoration: none;
    position:relative;
}
.product-card-button-button-green:hover{
    background-color: #6C9E42;

}
.product-card-button-button-green::before{
    position:absolute;
    border:3px solid #756257
    width:133px;
    height:37px;
    content:"";
    border-radius:4px;
    display:none;
}
.product-card-button-button-green:focus::before{
    display:block;
    top: -2px;
    left: -3px;
}
.product-card-button-button-green:focus{
    background-color: #6C9E42;
    outline: 3px solid  #756257;;
    border-radius: 4px;
     

}
.product-card-button-button-green:active{
    color: rgba(255, 255, 255, 0.3);
    background-color: #6C9E42;
}
.star-vector{
    display: flex; 
    padding-top:26px;
    
    padding-bottom: 10px;
    
    width: 91px;
    
}
.rating{
    display: grid;
    
   
}
.image-vector{
    margin-right: 7px;
}
.top {
    margin:0;
    padding-top: 9px;
    padding-bottom: 10px;
    margin-top: 16px; 
    border-radius: 4px;  
    grid-row: 5;
    grid-column: 2
    ;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color:#333333;
    text-transform: uppercase;
    background-color: #F2F2F2;;
}
.button-2{
    margin: 0 auto;
    padding:0;
    border:0;
    margin-top:30px;
    margin-right:290px;
    margin-left: 290px;
    margin-bottom: 30px;
    width: 620px;
    height: 60px;
    align-items: center;    
    display: flex;
    justify-content:center;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
    text-align: center;
    color: white;
    background-color: #83B3D3;
    text-transform: uppercase;
    border-radius: 4px;
}
.line{
    margin:0;
    width: 1055px;
    border: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6; 
    border-bottom: 0;
}

.line:first-of-type{
    margin-top: 34px;
}
.pagination{
    padding: 0;
     margin: 0;
     padding-left: 72px;
     padding-right: 72px;
     padding-top:30px;
     display: flex;
     flex-wrap: wrap;
    flex-grow: 1;
     
     list-style-type: none;
}
.pagination-link-pagination-current{
    margin-right: 8px;
    min-width: 55px;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
    text-align: center;
    color: #000000;
    background-color: #F2F2F2;
    border-radius: 4px;
    margin-bottom: 5px;
}



.pagination-link{
    margin-right: 8px;
    min-width: 55px;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 5px;
}
.page-numbering{
    margin: 0;
    padding: 0;
   
    display: flex;
    width: 1056px;
    
   
}
.page-numbering div{
    width: 386px; 
    display: flex; 
    justify-content: space-between;
}


.number{
    margin:0;
    padding:0;
    padding-top:46px;
    padding-right:51px;
    
   
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    color: #333333;
}
.pagination-link:hover{
    background-color: #68A2CA;
}
.pagination-link:focus{
    background-color: #68A2CA;
    outline: 3px solid#756257;
}
.pagination-link:active{
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3)
}
.page-footer-container{
    display: flex; 
    align-items: center;
}
.main-inner .title {
    padding-top: 73px; 
    padding-bottom: 46px;
    color: #000000;
}
.main-inner .no-spam {
    color: #333333;
}
.main-inner .appointment-form{
    padding-bottom: 141px;
}

.main-inner .mailing{
    background-image: none;
    }
    .sorting-block .sorting{
        display: flex;
    }


.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.8);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
        
    } 

.modal-container-close {
    display:none;
  }
  
    .modal {
    position: relative;
    margin: auto;
    padding-right: 70px;
    padding-top: 62px;
     background-color: #ffffff;
     padding-left: 70px;
     padding-left: 70px;
    }
    .modal-auth {
     width: 715px;
     box-sizing: border-box;
    }
    .modal-close-button {
    position: absolute;
     top: 54px;
     right: 70px;
    width: 53px;
    height: 53px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 50%;
    background-image: url(../images/Vector-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    }
    .modal-close-button:hover {
        background: #e6e6e6;
    }
      
    .modal-close-button:focus {
        outline: 3px solid #83b3d3;
    }
      
    .modal-close-button:active {
        color: rgba(0, 0, 0, 0.3);
     }
      
    .modal-title {
    text-transform: uppercase;
    font-family: "PT Sans";
     font-style: normal;
     font-weight: 700;
     font-size: 30px;
     line-height: 40px;
     color: #000000;
     margin: 0;
     height: 67px;
    }
    
    .appointment-form-auth{
     font-family: "PT Sans";
     font-style: normal;
     font-weight: 700; 
    font-size: 18px;
     line-height: 40px;
     color: #000000;

}
.arrival-date {
    display: grid;
    
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    grid-template-columns: 155px 420px;
  }
  .dates {
    width: 420px;
    height: 50px;
    padding-left: 19px;
    position: relative;
   box-sizing: border-box;
    background-position: center right 15px;
    background-repeat: no-repeat;
    background: #f2f2f2;
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    border: none;
  
  }
  svg.calendar{
    top: 20px;
  position: absolute;
  right: 19px;
}
  
  
  
  .dates:hover {
    background-color: #e6e6e6;
  }
  
  .dates:focus {
    background-color: #e6e6e6;
    outline: 3px solid #83b3d3;
  }
  
  .dates:active {
    background-color: #ffffff;
    outline: 2px solid #000000;
    box-sizing: border-box;
  }
  .number-of-people {
    display: flex;

    background: #f2f2f2;
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    width: 133px;
    height: 50px;
    display: flex;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    border: none;
  }
  .appointment-date-adults {
    width: 155px;
  }
  .comments {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #333333;
    margin-top: 0;
    grid-column: -2 / -1;
  }
  .comments-error {
    color: rgba(255, 87, 87, 1);
  }
  .people {
    display: flex;
    gap: 73px 56px;
    align-items: center;
  }
  .people-child{
    position: relative;
  }
  .number-child{
    position: relative;
  }
  .modal-action {
    display: grid;
    width: 25px;
    height: 25px;
    place-items: center;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.3);
  }
  .modal-action:hover {
    color: #000000;
  }
  
  .modal-action:focus {
    color: #000000;
    border: 3px solid #83b3d3;
  
    border-radius: 4px;
  }
  .modal-action:active {
    color: rgba(0, 0, 0, 0.3);
  }
  
  
  
  .button-minus {
    position: absolute;
    top: 14px;
    left: 13px;
  }
  .button-plus {
    position: absolute;
    top: 14px;
    right: 13px;
  }
  .tooltip {
    position: absolute;
    top: 7px;
    right: -35px;
  }  
  .tooltip-toggle {
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 25px;
    height: 25px;
    background: #83b3d3;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-items: center;
  }
  
  .tooltip-toggle:hover {
    background: #68a2ca;
  }
  
  .tooltip-text {
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
    padding: 18px;
    padding-top: 15px;
    padding-left: 22px;
    border-radius: 10px;
    top: 40px;
    width: 256px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: none;
  }
  .tooltip-toggle:hover + .tooltip-text,
  .tooltip-toggle:focus + .tooltip-text {
    display: block;
  }
  
  .tooltip .tooltip-text {
    width: 256px;
    top: 100%;
    left: 50%;
    margin-left: -128px;
  }
  
  .tooltip-text::after {
    content: "";
    background-image: url("../images/tooltip-icon.svg");
    width: 19px;
    height: 9px;
    position: absolute;
    top: -9px;
    left: calc(50% - 10px);
    z-index: 20;
  }
  .button-modal {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    width: 575px;
    text-transform: uppercase;
    background: #83b3d3;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    margin-top: 40px;
  }
  .button-modal:hover {
    background: #68a2ca;
  }
  .button-modal:focus {
    background: #68a2ca;
    border: 3px solid #756257;
  }
  .button-modal:active {
    background: #68a2ca;
    color: #ffffffa4;
  }
  
  
  
  
  
  
  
  


        
      
      
      
      
      


  
  
   
      