@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style:normal;
    font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format("woff2");
font-display: swap;
}
html{
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;  
}

.main-headr {
    color: #000000;
    background-color:#E5E5E5 ;
}
.logo{
    width: 139px;
    margin-right: 47px;
}
.main-header >.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}
.navigation {
   
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
} 
.navigation-logo{
    display: block;
    height: 70px;   
}
.navigation-list{
    
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation link:hover{
    color:#756257;  
}
.navigation link:active{
    outline:2px solid #756257
}
.navigation-item{
    padding-right: 34px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.navigation-list .navigation-item:first-child:hover{
   fill: #756257;
}

.navigation-user{
    margin: 0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    max-width:270px;
    margin-left: auto;
    font-size: 16px; 
    line-height: 20px; 
    color: #FFFFFF; 
    text-transform: uppercase;
    list-style-type: none;
}
.navigation-user .navigation link{
    min-height: 20px;
    min-width: 24px;

}
.navigation-user .navigation-item:first-child{
    padding-right: 23px;
}
.navigation-user .navigation-item{
    padding:0;
    padding-top:24px;
    padding-bottom:24px;
}



.navigation-user .navigation-item:last-child .navigation {
    margin-top:13px;
    margin-left: 32px;
    margin-bottom: 14px;
    padding-top: 9px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 8px;
    font-size:16px; 
    line-height: 20px; 
    color: #FFFFFF;
     text-transform: uppercase; 
     background: #756257;
}
.navigation-user .navigation-item:last-child .navigation:hover{
    background-color: #615048;
}
.navigation-user .navigation-item:last-child .navigation:focus{
    stroke: solid #83B3D3;
}
.navigation-user .navigation-item:last-child .navigation:active{
   color: #615048;
   opacity: 30%;
}
.navigation-link:hover .search.favorite{
  fill:  #756257 ;
}
.main-container{
    flex-grow: 1;
  
}

.main-index {
  
    color: #000000;
    background-color:#FFFFFF;
    
    background-size: 100% auto;
   
}
.welcome{
    padding-top: 70px;
    padding-bottom: 63px;
   
    background-image: url("../images/index-background-2.jpg");
    background-repeat: no-repeat;
    margin-bottom: 63px;
}
.page-container{
    margin: 0 auto;
    margin-top: -5px;
    width: 1200px;
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  


.image{
    display: block;
    margin: 0 auto; 
}
.advantage {
    font-family:"PT Sans";
    font-weight :700;
    font-style :normal;
    font-size: 30px;
    line-height: 36px;
    text-align:Center;
    background-color:#FFFFFF;
}



.inskription {
    width: 720px; 
    margin: auto;
    font-family: "PT Sans";
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.reasons {
    margin-bottom: 0;
    margin-top:31px;
    padding-bottom: 80px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #333333;
    
}

.advantage-list {
    margin: 0;
    padding: 0;
   
   justify-content: space-between;
   font-family:"PT Sans";
   font-style: normal;
   font-weight: 700;
   font-size:24px;
   line-height: 28px;
   text-align:Center;
   list-style-type: none;
}


.list1{
   
    display:flex;
    padding:0;
    
}
.list1 .advantage-title {
    padding-top: 23px; 
    padding-bottom: 20px;
}
.list2{
    
    display:flex;
    padding:0;
   

}
.advantage-item{
    display: flex;
   
}
.list1 .advantage-item:first-child p{
    width: 179px;
    margin: auto;
}
.advantage-item:nth-child(n+2):nth-child(-n+4) .advantage-diskription{
    color:  #333333;
 }
.advantage-title {
    margin-top: 0;
    margin-bottom: 0;
    width: 172px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 97px;
    padding-bottom: 30px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px; 
    line-height: 28px; 
    text-transform: uppercase;
    text-align: center;
}
.diskription-1 {
    width: 400px;
    height: 384px;
    color:#FFFFFF;
    background-color: #83B3D3;
}
.list2 .advantage-diskription{
    margin: 0;
     padding-bottom: 30px;
}


.hotel{
   
    width: 800px;
    
}
.image-housing{
    padding-top: 89px;
    padding-right: 162px;
    padding-left: 162px;
}
.image-food{
    padding-top: 91px;
    padding-right: 163px;
    padding-left: 163px;
}
.diskription-2 {
    width: 400px;
    font-family: "PT Sans";
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    background-color: rgba(131, 179, 211, 0.12);
   
}
.diskription-3{
    width: 400px;
    font-family: "PT Sans";
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #333333;
    background-color: #FFFFFF;
}
.diskription-4{
    font-family: "PT Sans";
    font-style: normal;
    font-size: 18px;
    line-height: 21;
    text-align: center;
    width: 400px;
    color: #333333;
    background-color:rgba(131, 179, 211, 0.2);

}
.image-bridge{
    width: 800px;
}
.advantages-diskription1{
    margin:0;
    font-family: "PT Sans";
    font-weight: 400;
    font-style :normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
   color:#FFFFFF;
   width:250px;
   padding-left:75px;
   padding-right:75px;
   padding-bottom: 30px;

}



.advantages-diskription{
    margin:0;
    width:220px;
    padding-left: 90px;
    padding-right:90px;
    padding-bottom: 87px;
    font-family: "PT Sans";
    font-weight: 400;
    font-style :normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
   color:#FFFFFF;
}
.advantage-diskription{
   margin:0;
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 79px;
    font-family: "PT Sans";
    font-style:normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
}
.image-souvenirs{
    padding-top:85px;
    padding-right: 168px;
    padding-left: 168px;
}



.search-hotel {
    margin:0 auto;
    color: #000000;
    background-color:#FFFFFF;
    text-align: center; 
}
.question {
    margin:0;
   padding-top: 91px;
   padding-right: 240px;
   padding-bottom: 29px;
   padding-left:240px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style :normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;

}

.date{
    margin: 0;
    padding-bottom: 56px;
    font-family: "PT Sans";
    font-weight: 400;
    font-style :normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.search-hotel-button {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 93px;
    display: block;
    width: 575px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style :normal;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color:#FFFFFF;
    background-color:#756257;
    text-transform: uppercase;
    text-decoration: none;   
}
.search-hotel-button:hover{
    background-color: #615048;
}
.search-hotel-button:focus{
   background-color: #615048;
   outline:3px solid #83B3D3;
}
.search-hotel-button:active{
    fill: solid #615048;
    opacity: 30%;

}
.mailing {
    
    width: 1200px;
    margin: 0 auto;
    text-align: center; 
    background-image: url(../images/background.jpg);
    
}
.social-item:first-child{
    padding-left: 0; 
}

.appointment-form input{
    margin:0;
    padding: 0;
    border: 0;
    width: 600px;
    height: 60px;
    font-family: "PT Sans"; 
    font-size: 18px;
    line-height: 26px;
    color: #000000; 
    background: #F2F2F2;
}
.appointment-form input:hover{
    background-color: #E6E6E6;
}
.appointment-form input:focus{
   background-color: #E6E6E6;
   outline:3px solid #83B3D3;
}

.appointment-form{
    padding-bottom: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter input{
   font-family:  "PT Sans"; 
   font-size: 18px;
   line-height: 23px; 
   background: transparent;
}
.appointment-form input::placeholder{
    
    opacity: 0.6;
    color:#000000;
}
.filter input::placeholder{

    color:#FFFFFF
}
.button-1 {
    margin:0;
    padding:0;
    border:0;
    width: 200px;
    height: 60px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style :normal;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color:#83B3D3;
    text-transform: uppercase;
}
.button-1:hover{
    background-color: #68A2CA;
}
.button-1:focus{
    background-color: #68A2CA; 
    outline: 3px solid #756257;
}
.button-1:active{
    background-color: #68A2CA; 
    opacity: 30%;
}



.title {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 29px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style :normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;

}
.no-spam{
    margin:0;
    margin-left: auto;
    margin-right: auto;
    width: 544px;
    
    padding-bottom: 46px;
    font-family: "PT Sans";
    font-weight: 400;
    font-style :normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;

}
.social-media{

    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-items: center;

}

.social-media-list {
   
    display: flex;
    margin: 0;
    padding: 0;

    padding-left: 72px;
    height: 18px;
    list-style-type: none;
    background-color:#FFFFFF

}
.image-vector:hover{
    background-color: #68A2CA;
}
.image-vector:focus{
    background-color:#E5E5E5;
    outline: 3px solid #83B3D3;

}
.image-vector:active{
    background-color:#68A2CA;
    opacity: 30%;
}

.social-item{
    padding-left: 30px;
    
}
.htmlacademy-link{
    padding-top: 42px;
    padding-right:72px;
    padding-bottom:44px;
    padding-left:53px;
}
.htmlacademy-link:hover{
    color:#756257;

}
.htmlacademy-link:focus{
   color: #756257;
   outline: 3px solid #83B3D3;
}
.htmlacademy-link:active{
   color:  #756257;
   opacity: 30%;
}
.button-social{
    padding-top:49px;
    
}
.tel{
     
    width: 720px;
    margin: 0 auto;
    font-family: "PT Sans";
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-decoration: none;
   
}
.tel:hover{
   color: #756257;
}
.tel:focus{
    color: #756257;
    border: 3px solid #83B3D3;

}
.tel:active{
    color: #756257; 
    opacity: 30%; 
}
.main-inner{ 
    font-family:"PT Sans";
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    color: white;
    background-color:#FFFFFF;
   
    
}
.inner-title {
    padding-top: 35px;
    padding-right: 601px;
    padding-bottom: 5px;
    padding-left: 71px;
    
    margin:0;
    

    width:528px;
    height: 68px;
    font-family: "PT Sans";
    font-weight: 700;
    font-style:normal;
    font-size: 60px;
    line-height: 78px;
    text-align: left;
}
.breadcrumbs{
    margin:0;
    padding-top:5px;
    
    padding-left:73px;
    display: flex;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    list-style-type: none;
    padding-left: 73px;
    

}
.breadcrumbs-link{
    padding-bottom:45px;
    display:block;
}
.breadcrumbs-item-home{
    
    padding-right: 10px;
    padding-bottom:6px;
}
.image-arrow{
    padding-top:6px;
    padding-right:10px;
    padding-bottom:7px;
}


.catalog{
    background-image: url("../images/catalog-background-1.jpg");
    background-repeat: no-repeat;
    
}
.catalog-filter{
    display: flex;
}
.infrastructure{
    margin:0;
    padding:0;
    padding-bottom:30px;
}
.type-of-housing{
    margin:0;
    padding:0;
    padding-bottom:30px;

}
.catalog-group1 {
    margin:0;
    padding:0;
    padding-left:71px;
    border:none;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
}
.filter input{
    margin:0;
}
.sorting-block .select-control, .sorting-block .sorting{
    margin-top: -6px;
}

.catalog-group2 {
    margin:0;
    padding:0;
    padding-left:67px;
    border:none;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
}
.catalog-item{
    padding-bottom:13px;
}
.catalog-list:last-child{
    padding-bottom:26px;
}
.catalog-list{
    margin: 0;
    padding:0;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    text-align: left;
    list-style-type: none;
}
.filter-interval{
    padding-left:167px;
}
.filter-interval-price {
    margin: 0;
    padding: 0;
    padding-bottom: 34px;
    
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
    text-align: left;
}
.filter-border{
    display:flex;
   
}
.button-blue{
    margin-top: 34px;
    margin-right: 72px;
    margin-bottom: 20px;
    margin-left: 81px;
    width: 160px;
    height: 48px;
    border: 0;

    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color: white;
    background-color: #83B3D3;
    text-transform: uppercase;
}
.button-usual {
    margin-right: 72px;
    margin-bottom: 83px;
    margin-left: 81px;

    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    text-align: center;
    color: white;
    background: transparent;

}
.title-catalog{
    margin:0;
    padding:0;
    padding-top: 50px;
    padding-right: 192px;
    padding-bottom: 56px;
    padding-left: 0;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px; 
    text-align: left;
    color:#000000;
    text-transform: uppercase;


}
.button1{
    display: flex;
    flex-direction: column;
}
.button{
    padding:0;
    display: flex;
}
.button-vector
{
    display:flex;
    flex-wrap: wrap;
    margin-right: 8px;
}
.filter-border input{
    height: 48px;
    background: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}
.filter-border input:first-child{
    border-right: 0;
}

.sorting-block{
    margin: 0 auto ;
    padding:0;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1057px;
    
}
.select-control{
    margin:0;
    padding:0;
    margin-top:33px;
    padding-right: 81px ;
    width: 160px;
    height: 48px;
    font-family: "PT Sans"; 
    font-size: 18px;
    line-height: 23px; 
    color: #333333;
}
.product-list{
    margin:0;
    padding:0;
    margin-bottom: 34px;
    padding-left: 72px;
    display: grid;
    width: 1056px;
    grid-template-columns: repeat(3,1fr);
    gap:10px 18px
   
}
.product-card{
    display: grid;
    grid-template-columns: 140px 160px;
     padding:20px
    
}
.product-card-link{
    grid-column: 1/-1;

    text-decoration: none;
}
.product-card-image{
    
padding-bottom: 16px;
}
.product-card:nth-child(3) {
    margin-right: 0;
}




.product-card-price,
.product-card-button-button-blue{
    grid-column: 2/4;
}

    


.product-card-title{
    margin:0;
    
    padding-bottom:16px;
    
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px; 
    text-align: left;
    color:#000000;
    text-decoration: none; 

}
.product-card > div:first-of-type{
   
    grid-row: 4;
   
}
.object{
    margin:0;
    grid-row: 2;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    text-align: left;
    color:#333333
   

}
.product-card-price{
    grid-row: 2;
    margin-left: auto;
    width: 143px;
    height: 23px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    text-align: left;
    color:#333333;

}
.product-card-button-button{
    margin-top:16px;
    grid-row:3 ;
    width: 133px;
    padding-top: 9px;
    padding-bottom: 10px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color:white;
    background-color:#756257;
    text-transform: uppercase;
    text-decoration: none;
}
.product-card-button-button-blue{
    grid-row:3;
    padding-top: 9px;
    padding-bottom: 10px;
    margin-top:16px;
    text-decoration: none;
    width: 140px;
    margin-left: auto;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color:white;
    background-color:#83B3D3;
    text-transform: uppercase;
}
.product-card-button-button-green{
    grid-column: 2/4;
    margin-top:16px;
    margin-right:20px;
    padding-top:9px ;
    width: 140px;
    margin-left: 20px;

    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color:white;
    background-color: #7DB54F;
    text-transform: uppercase;
    text-decoration: none;
}
.star-vector{
    display: flex; 
    padding-top:26px;
    
    padding-bottom: 10px;
    
    width: 91px;
    justify-content: space-around;
}
.rating{
    display: grid;
    
   
}
.image-vector{
    margin-right: 7px;
}
.top {
    margin:0;
    
    padding-top: 9px;
    padding-bottom: 10px;
    margin-top: 16px;   
    grid-row: 4;
    grid-column: 2;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px; 
    text-align: center;
    color:#333333;
    text-transform: uppercase;
    background-color: #F2F2F2;;
}
.button-2{
    margin: 0 auto;
    padding:0;
    border:0;
    margin-top:30px;
    margin-right:290px;
    margin-left: 290px;
    margin-bottom: 30px;
    width: 620px;
    height: 60px;
    align-items: center;    
    display: flex;
    justify-content:center;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
    text-align: center;
    color: white;
    background-color: #83B3D3;
    text-transform: uppercase;
}
.line{
    margin:0;
}
.pagination{
    padding: 0;
     margin: 0;
     padding-left: 72px;
     padding-top:30px;
     display: flex;
    flex-grow: 1;
     
     list-style-type: none;
}
.pagination-link-pagination-current{
    margin-right: 8px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
    text-align: center;
    color: #000000;
    background-color: #F2F2F2;
}



.pagination-link{
    margin-right: 8px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px; 
    text-align: center;
    color: #FFFFFF;
    background-color: #83B3D3;
}
.page-numbering{
    margin: 0;
    padding: 0;
   
    display: flex;
    width: 1056px;
    
   
}
.page-numbering div{
    width: 386px; 
    display: flex; 
    justify-content: space-between;
}
.line:first-of-type{
    margin-top: 34px;
}

.number{
    margin:0;
    padding:0;
    padding-top:46px;
    padding-right:51px;
    
   
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    color: #333333;
}
.page-footer-container{
    display: flex; 
    align-items: center;
}
.main-inner .title {
    padding-top: 73px; 
    padding-bottom: 46px;
    color: #000000;
}
.main-inner .no-spam {
    color: #333333;
}
.main-inner .appointment-form{
    padding-bottom: 141px;
}

.main-inner .mailing{
    background-image: none;
    }
    .sorting-block .sorting{
        display: flex;
    }
